{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" lang="en-us">
        <link rel="shortcut icon" type="image/png" href="{% static 'main/favicon.ico' %}"/>
        <link href="{% static 'main/style.css' %}" rel="stylesheet">
        <script src="{% static 'main/action.js' %}"></script>
        <title>Symptom Checker</title>
    </head>

    <body>
        <p class="big-text">
            Symptom Checker
        </p>
        <div class="blank-space"></div>

        <div class="main-container">
            <form method="post" id="form">
                {% csrf_token %}
                
                <input class="input" type="text" name="sickness"
                       placeholder=" Enter the name of sickness">

                <button class="mid-text btn" type="submit" id="btn"
                        onclick="process();" name="btnSubmit">

                        Submit

                </button>

            </form>

            <div class="blank-space"></div>
            
            <div>
                <a class="btn small-text" href="{% url 'main:index' %}">Kill / Restart</a>
                <a class="btn small-text" href="{% url 'main:welcome' %}">Go back to Home</a>
            </div>

            <div class="blank-space"></div>
            <div class="blank-space"></div>

            {% if not result %}
            <p class="output mid-text" style="color: #707070;" id="output">
                Response:
            </p>
            {% else %}
            <p class="output mid-text" id="output">
                {{ result }}
            </p>
            {% endif %}
        </div>
    </body>
</html>