{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" lang="en-us">
        <link href="{% static 'main/style.css' %}" rel="stylesheet">
        <script src="{% static 'main/action.js' %}"></script>
        <title>Symptom Checker</title>
    </head>

    <body>
        <div class="greet-container">
            <p class="greet-content">
                Please enter the name of your sickness
            </p>

            <form method="post" class="form-container cell" id="form-container">
                {% csrf_token %}
                <div class="cell">
                    <input type="text" name="sickness"
                           placeholder=" sample text" class="input-1">
                </div>

                {% if result %}
                <div class="cell">
                    <button type="submit" class="btn-1" disabled>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </button>
                </div>
                {% else %}
                <div class="cell">
                    <button type="submit" class="btn-1" id="btn-1"
                            onclick="showWheel(); disableButton()">
                        Submit
                    </button>
                </div>
                {% endif %}
            </form>
            
            <div class="btn-2-container">
                <a class="btn-2" href="{% url 'main:welcome' %}">To Home</a>
                <a class="btn-2" href="{% url 'main:index' %}">Restart/Kill</a>
            </div>

            {% if result %}
            <!-- Do nothing -->
            {% else %}
            <div class="load-text-container">
                <div class="dual-ring-container">
                    <div class="dual-ring"></div>
                </div>
                <div class="load-text"></div>
            </div>
            {% endif %}

            {% if result %}
            <div class="result-container">
                <a class="result-content">
                    <p class="result-title">Response: </p>
                    {{ result }}
                </a>
            </div>
            {% else %}
            <div class="result-container">
                <div class="result-content" 
                     style="font-weight:normal;text-align:center;min-height:40px;">
                    Response will show up here
                </div>
            </div>
            {% endif %}

            {% if error %}
            <body onload="error()"></body>
            {% else %}
            <!-- Do nothing -->
            {% endif %}
            </div>
    </body>
</html>